@model List<card_index>

@{
    ViewData["Title"] = "Home Page";
}

<div class="card__container">
    @foreach(var item in Model)
    {
    <div class="card">
        <div class="card__cover">
                <h2 class="text">@item.zag</h2>
            <div class="pink"></div>
        </div>
        <div class="card__content">
            <img class="star" src="~/img/звезда.png" alt="звезда">
                <p class="text">@item.text1</p>
            <img class="star" src="~/img/звезда.png" alt="звезда">
                <p class="text">@item.text2</p>
            <img class="star" src="~/img/звезда.png" alt="звезда"> 
                <p class="text">@item.text3</p>
        </div>
        <div class="card__content_img">
                <img class="img_card" src="@Url.Content(item.img)" alt="памятник">
        </div>
    </div>
    }
    @*<div class="card">
        <div class="card__cover">
            <h2 class="text">Маршрутное такси и тролейбусы</h2>
            <div class="pink"></div>
        </div>
        <div class="card__content">
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card__content_img">
            <img class="img_card" src="~/img/автобус_карт.png" alt="памятник">
        </div>
    </div>
    <div class="card">
        <div class="card__cover">
            <h2 class="text">Онлайн-путеводитель</h2>
            <div class="pink"></div>
        </div>
        <div class="card__content">
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card__content_img">
            <img class="img_card" src="~/img/памятник_карт.png" alt="памятник">
        </div>
    </div>
    <div class="card">
        <div class="card__cover">
            <h2 class="text">Иностранные маршруты</h2>
            <div class="pink"></div>
        </div>
        <div class="card__content">
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
            <img class="star" src="~/img/звезда.png" alt="звезда">
            <p class="text">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="card__content_img">
            <img class="img_card" src="~/img/билеты_карт.png" alt="памятник">
        </div>
    </div>
</div>*@
